html{overflow-x: hidden;}

body {
	background: #111;
	color: #fff;
    margin: 0;
    overflow-x: hidden;
}

*{
    margin:0px auto;
    padding:0px;
    box-sizing: border-box;
}

a {
	text-decoration: none;
	border: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
    transition: 0.5s;
    &:hover {
        text-decoration: none;
	    -webkit-transition: 0.5s;
	    -moz-transition: 0.5s;
	    -o-transition: 0.5s;
	    -ms-transition: 0.5s;
	    transition: 0.5s;
    }
}

img{border: none;}